extends base

block content
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(name="name", type="text", required, placeholder="name", value=loggedInUser.name)
        input(name="email", type="email", required, placeholder="email", value=loggedInUser.email)
        input(name="username", type="text", required, placeholder="username", value=loggedInUser.username)
        input(name="location", type="text", required, placeholder="location", value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        hr
        if !loggedInUser.socialOnly
            a(href="change-password") Change Password &rarr;